@import 'tailwindcss';

@config '../../tailwind.config.js';

@layer base {
}

@utility bg-default {
  @apply bg-[#ddd] dark:bg-[#fff];

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .flex-col-center-between {
    @apply flex flex-col items-center justify-between;
  }
  .flex-col-center-start {
    @apply flex flex-col items-center justify-start;
  }
  .flex-col-end-start {
    @apply flex flex-col items-end justify-start;
  }
  .flex-col-start-end {
    @apply flex flex-col items-start justify-end;
  }
  .flex-col-start {
    @apply flex flex-col items-start justify-center;
  }
  .flex-col-end {
    @apply flex flex-col items-end justify-center;
  }
  .flex-col-start-start {
    @apply flex flex-col items-start justify-start;
  }
  .flex-col-start-between {
    @apply flex flex-col items-start justify-between;
  }
  .flex-col-center-end {
    @apply flex flex-col items-center justify-end;
  }
  .flex-col-start-center {
    @apply flex flex-col items-start justify-center;
  }
  .flex-row-center {
    @apply flex flex-row items-center justify-center;
  }
  .flex-row-start {
    @apply flex flex-row items-start justify-start;
  }
  .flex-row-center-between {
    @apply flex flex-row items-center justify-between;
  }
  .flex-row-center-start {
    @apply flex flex-row items-center justify-start;
  }
  .flex-row-center-end {
    @apply flex flex-row items-center justify-end;
  }
  .flex-row-start-center {
    @apply flex flex-row items-start justify-center;
  }
  .flex-row-start-between {
    @apply flex flex-row items-start justify-between;
  }
  .flex-row-end-center {
    @apply flex flex-row items-end justify-center;
  }
  .flex-row-end-end {
    @apply flex flex-row items-end justify-end;
  }
  .flex-row-end-start {
    @apply flex flex-row items-end justify-start;
  }
  .flex-row-start-end {
    @apply flex flex-row items-start justify-end;
  }
}

@layer utilities {
  html,
  body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
  }
}
